body{
    font-family: 'Roboto', sans-serif;
}

.checkout-from label{
    font-size: 12px;
    font-weight: 700;
}

.checkout-from input{
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
}

.order-details label{
    font-size: 18px;
    font-weight: 550;
}
.order-details div{
    font-size: 18px;
    padding: 10px !important;
}
.order-details td{
    font-size: 18px;
    padding: 10px !important;
    text-align: center;
}

.nav-content a{
    font-size: 20px;
    font-weight: 500;
    padding: 10px !important;
    margin: 10px !important;
}

/* rating */
.rating-css div {
    color: #ffe400;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 80;
    text-align: center;
    text-transform: uppercase;
    padding: 3px 0;
  }
  .rating-css input {
    display: none;
  }
  .rating-css input + label {
    font-size: 25px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
  }
  .rating-css input:checked + label ~ label {
    color: #b4afaf;
  }
  .rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
  }
 
/*stars */
.checked {
    color: rgb(223, 223, 39);
}
/* End of Star Rating */
/* search */
.search-bar{
  width: 40%;
  margin-top: 5px;
}
/* search */